/.vscode
/12 week Challange.xlsx
/asd.pdf
/Book.xlsx
/Custom Office Templates
/desk er top
/desktop.ini
/dupplicateArrayElement.cpp
/dupplicateArrayElement.exe
/Exam VHDL - Solved.pdf
/EXAM-SSE-SS21.pdf
/Exam.docx
/Exam.pdf
/hello.exe
/JK Life.xlsx
/JK Lifestyle.xlsx
/Multicore-Programming
/My Tornament.xlsx
/myfirst.xlsx
/New Microsoft Word Document.docx
/note.txt
/Office Lens
/OneNote Notebooks
/Presentation.pptx
/rawfid's Notebook.url
/routine.xlsx
/SideSync
/SSE_WS2122.pdf
/task 1a.c
/task 1b.pdf
/task 2a.pdf
/task 2b.c
/task 3.c
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/VHDLExam1920 (1).pdf
/Zoom
/Zusatzblatt.pdf